<!-- Template index.html-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="auteur" content="NSI"/>
		<title>Serveur Flask Python</title> 
	</head>
	<body>
	<h1>Mon site</h1>
	<p> Tout fonctionne parfaitement</p>
	</body>
</html>

<!-- Template heure.html-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="auteur" content="NSI"/>
		<title>Serveur Flask Python</title> 
	</head>
	<body>
	<h1>Mon site donne l'heure</h1>
	<p> Il est : {{heure}}h {{minute}} min {{seconde}} s</p>
	</body>
</html>

<!-- Templage age.html-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="auteur" content="NSI"/>
		<title>Serveur Flask Python</title> 
	</head>
	<body>
	<h1>Bonjour {{prenom}} {{nom}} </h1>
	<p> Votre email est {{email}} et vous êtes né(e) depuis {{age}} jours</p>
	</body>
</html>